
.cabecera{
    align-items: center;
    height: 2rem;
    background-color:#350E43 ;
    padding: 1rem 80px;
    flex-wrap: wrap;
}

.contenidoCabecera{
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.flex{
    display: flex;
}